.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
}
#inputs{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    row-gap: 10%;
    color: white;
    font-size: 20px;
}
h2{
    color:aliceblue;
    font-size: 20px;
}
#label{
    color: white
}
#buttons{
    display: flex;
}
#archive{
    color:aliceblue;
}
#featuredImage {
    display: block;
    margin: 20px auto;
    width: 10%;
    height: 10%;
    animation: rotate 3s infinite linear;
}
@keyframes rotate{
from {rotate: 0deg;}
to {rotate: 359deg}
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(0, 0, 0);
}
